/* CUSTOM CSS HERE*/

nav {
    background: red; 
}

h1, h2{
    font-family: "aktiv-grotesk", sans-serif;
    font-weight: 500;
    font-style: normal;
}

h1{
    font-size: 2rem; 
}
h2{
    font-size: 1.5rem; 
}

h3 {
    font-family: 'Inter', sans-serif;
    text-align: left;
  }

h3 {
    font-size: 1.7rem;
    font-variation-settings: 'wght' 100;
    transition: font-variation-settings 1s;
}

h3:hover{
    line-height: 1.6; 
    font-variation-settings: 'wght' 800;
    transition: font-variation-settings 1s;
}


main{
    background: #eeeeee; 
    margin: 2%; 
    padding: 2%; 
}
