/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
    font-family: Arial, Helvetica, sans-serif; 
}

/* CUSTOM CSS HERE*/

nav {
    background: white; 
}

nav a{
    display: block; 
    background:rgba(255,0,0); 
    color: black; 
    text-decoration: none; 
    padding:1rem; 
}

nav a.hamburger {
    display: none;
  }

nav a.on{
    background: orange; 
}

nav a:hover{
    background:blue; 
    color: white; 
}

nav ul ul{
    display: flex; 
    flex-wrap: nowrap; 
}

nav ul ul li {
    position: relative;
  }

nav ul ul ul {
    flex-direction: column;
}

nav ul ul li ul {
    display:none; 
}

nav ul ul li:hover ul{
    display: block; 
    position: absolute;
    top: 3rem;
    left: 0;
}

/*
nav {
    background: #fcf;
  }
  
  nav a {
    display: block;
    background: fuchsia;
    color: white;
    text-decoration: none;
    padding: 1rem;
  }
  
  nav a:hover {
    background: purple;
  }
  
  nav ul {
    display: flex;
    flex-wrap: nowrap;
  }
  
  nav ul li {
    position: relative;
  }
  
  nav ul ul {
    flex-direction: column;
  }
  
  nav ul li ul {
    display: none;
  }
  
  nav ul li:hover ul {
    display: block;
    position: absolute;
    top: 3rem;
    left: 0;
  }
*/

h1, h2{
    font-family: "aktiv-grotesk", sans-serif;
    font-weight: 500;
    font-style: normal;
}

h1{
    font-size: 2rem; 
}
h2{
    font-size: 1.5rem; 
}

p {
    font-family: 'Inter', sans-serif;
    text-align: left;
    font-size: 1rem;
    max-width: 60rem;
    font-variation-settings: 'wght' 500;
    transition: font-variation-settings 1s;
}

div.clicked{
    display: block; 
}

span{
    font-family: 'Inter', sans-serif;
    font-size: 15rem; 
    text-align: left;
    max-width: 60rem;
    font-variation-settings: 'wght' 500;
    transition: font-variation-settings 1s;
}

span::first-letter{
    font-family: 'serif';
}

span:hover p{
    font-variation-settings: 'wght' 800;
    transition: font-variation-settings 1s;
}

p.space_1{
    margin-left: 0; 
}

p.space_1:hover{
    margin-left: 1rem; 
}

p.space_2{
    margin-left: 0; 
}

p.space_2:hover{
    margin-left: 5rem; 
}
p.space_3{
    margin-left: 0; 
}

p.space_3:hover{
    margin-left: 10rem; 
}

p.space_4{
    margin-left: 0; 
}

p.space_4:hover{
    margin-left: 15rem; 
}

p.name{
    font-size: 15rem; 
}

div.clicked:hover p{
    font-variation-settings: 'wght' 800;
    transition: font-variation-settings 1s;
}

div.clicked br {
    display: none;
}

div.clicked:hover br {
    display: block;
}

div.clicked br {
    display: none;
}

div.clicked:hover br {
    display: block;
}

main{
    margin: 2%; 
    padding: 2%; 
}

@media screen and (max-width: 500px){
    
    nav ul ul{
        display: block; 
    }

    nav > ul > li > ul {
        display: none; 
    }

    nav ul ul li:hover ul {
        position: static; 
        top: auto; 
        left: auto; 
    }

    nav ul ul ul a {
        padding-left: 2rem; 
    }

    img{
        max-width: 100%; 
    }

    nav a.hamburger {
        display: block;
        width: 3rem;
        padding: 1rem 0.5rem;
      }
    
      nav a.hamburger img {
        display: block;
        width: 100%;
        height: auto;
      }
    

      nav > ul > li:hover > ul {
        display: block; 
    }
}